{
  #TESTING
  #local_certs
  #debug

  #Production
  http_port 80
  #https_port 443
  auto_https off
}

:80 {
  root * /var/www 
  route /api/* {
    uri strip_prefix /api
    reverse_proxy server_monitor_api:6060
  }
  file_server
  handle_errors {
    @404 expression `{err.status_code} == 404`
    handle @404 {
      rewrite * /index.html
      file_server
    }
  }
}